.header {
  width: 100%;
  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);

  &__container {
    margin: 0 auto;
    padding: 6px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container-basket {
    position: relative;
  }

  &__container-basket-icon {
    height: 34px;
    cursor: pointer;
  }

  &__container-basket-icon-count {
    font-weight:500;
    color: red;
    
    position: absolute;
    bottom: -10px;
    left: -3px
  }
}